{% extends "base.html" %}

{% block site_wrapper %}
    {% include 'tags/navigation.html' %}
    <div class="container">
        <div class="row">
            <div id="sidebar" class="col-sm-3 sidebar">
                {% include 'tags/catagory_list.html' %}
            </div>
            <div id="content" class="col-sm-9">
                <a name="content"></a>
                <div class="contentIEPadder">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% include 'tags/footer.html' %}
{% endblock %}